/*------------------------------------GENERAL STYLE------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}

/*------------------------------------ANIMATIONS------------------------------------*/
@-webkit-keyframes full-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes full-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes full-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes move-text {
  0% {
    margin-top: 0;
    color: #00a1f1;
  }
  25% {
    margin-top: -70px;
    color: #7cbb00;
  }
  50% {
    margin-top: -140px;
    color: #ffbb00;
  }
  75% {
    margin-top: -70px;
    color: #f65314;
  }
  100% {
    margin-top: 0px;
    color: #00a1f1;
  }
}

@keyframes change-text-color {
  0% {
    color: #00a1f1;
  }
  25% {
    color: #7cbb00;
  }
  50% {
    color: #ffbb00;
  }
  75% {
    color: #f65314;
  }
  100% {
    color: #00a1f1;
  }
}

@keyframes change-background-color {
  0% {
    background: #00a1f1;
  }
  25% {
    background: #7cbb00;
  }
  50% {
    background: #ffbb00;
  }
  75% {
    background: #f65314;
  }
  100% {
    background: #00a1f1;
  }
}

/*------------------------------------NAVBAR------------------------------------*/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.8s ease;
  border-bottom: 1px #fff solid;
  background: linear-gradient(255deg, #00a1f1, #7cbb00, #ffbb00, #f65314);
  background-size: 250% 250%;
  -webkit-animation: full-background 24s ease infinite;
  -moz-animation: full-background 24s ease infinite;
  animation: full-background 24s ease infinite;
}
.logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.navHeader__links {
  position: relative;
}
.navHeader__links {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2rem;
  transition: 0.8s ease;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  background: transparent;
  /* border: 2px solid #fff; */
  text-align: center;
  opacity: 0.8;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
  box-shadow: inset 0 0 0 1px #fdfdfd;
  transition: all 300ms;
}
.navHeader__links:hover {
  box-shadow: inset 0 0 0 3px #fff;
}
#navLogo img {
  height: 2.4rem;
  width: 2.4rem;
}
#navLogo img:hover {
  cursor: pointer;
}

/* -----------------------------------HOME----------------------------------- */
.home {
  padding: 50px 100px;
  margin-top: 20px;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.home {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../assets/svg/bg_circuit.svg");
}
.home__content {
  max-width: 80%;
  max-height: 80%;
}
.home__content h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}
.home__content h1 span {
  font-size: 2.8em;
  font-weight: 700;
}
.animated-def-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}
.animated-def-text h3 {
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
  /* text-shadow: 2px 2px 0px #eb452b, 4px 4px 0px #efa032, 6px 6px 0px #46b59b,
8px 8px 0px #017e7f; */
}
.animated-def-text h3:nth-child(1) {
  animation: move-text 12s infinite;
}
.animated-def-text h3 {
  animation: change-text-color 12s infinite;
}
.cta-btn {
  margin-top: 25px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.1px;
  border-radius: 1.5px;
  transition: 0.8s ease;
}
/* Call to Action (CTA) button */
.cta-btn {
  animation: change-background-color 12s infinite;
}
.cta-btn:hover {
  margin-left: 20px;
}
.home__social {
  margin-top: 50px;
}
.home__social a {
  color: #fff;
  font-size: 50px;
  margin-right: 30px;
  animation: change-text-color 12s infinite;
}
.home__social span {
  font-size: 40px;
}

.home .home__content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.home .home__content .right-col {
  position: relative;
  width: 20vw;
  height: 20vw;
}
.home .home__content .left-col {
  position: relative;
  width: 80%;
}
.card_logo {
  display: flex;
  width: 35vw;
}
.home .home__content .right-col img {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  object-fit: contain;
  align-items: center;
}
.home .home__content .right-col {
  margin: 30px;
}
/* -----------------------------------FOOTER----------------------------------- */
.footer {
  max-width: 100vw;
  max-height: 10vh;
  background: #222;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-top: 1px #fff solid;
}
.footer-title {
  font-size: 0.8em;
  font-weight: bold;
  animation: change-text-color 12s infinite;
}
.footer a {
  color: #fff;
  font-size: 0.7em;
}

/*-----------------------------------SCROLLBAR-----------------------------------*/

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(85, 85, 85) rgb(185, 185, 185);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(185, 185, 185);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(77, 76, 76);
}


/*-----------------------------------RESPONSIVE-----------------------------------*/
@media (max-width: 1020px) {
  header {
    padding: 12px 20px;
  }
  .home {
    padding: 0;
    padding-left: 30px;
  }
  section {
    padding: 80px 20px;
  }
  .home .home__content h1 {
    font-size: 1em;
  }
  .home .home__content {
    flex-direction: column;
  }
  .home .home__content .col {
    position: relative;
    width: 100%;
  }
  .home .home__content .left-col {
    margin-top: 20px;
  }
  .home .home__content .left-col .btn {
    margin-top: 40px;
  }
  .home .home__content .right-col {
    position: absolute;
    display: none;
  }
  .home .home__content .right-col .card_logo img {
    position: absolute;
    display: none;
  }
}
@media (max-width: 450px) {
  .home .home__content .left-col .btn {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 305px) {
  .home .home__content .left-col .btn {
    font-size: 0.5em;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .material-icons {
    font-size: 0.2em;
  }

  .animated-def-text h3 {
    font-size: 2em;
  }
  .home__social a {
    width: 8px;
    height: 8px;
    font-size: 0.3em;
  }
  .home__social a span {
    font-size: 3em;
  }
}
@media (max-width: 1020px) {
  .home .home__content .left-col {
    margin-top: 60px;
  }
}
